/*-------------------------------------- Mobile first ------------------------------------*/

body {
  margin: 0;
  
  .article-content {
    margin-left: 1%;
    margin-right: 1%;

    #btn-go-back-to-shoppingcart, #btn-go-back-to-products {
      :link {
        text-decoration: none !important;
      }
      a {
        color:  rgb(96, 144, 96);
      }
    }
    #clear-btn {
      color:  rgb(96, 144, 96);
    }
    #btn-container {
      position: relative;
      padding: 1%;  
      padding-bottom: 3%;
      #btn-go-back-to-shoppingcart, #btn-go-back-to-products {
        :link {
          text-decoration: none !important;
        }
      }
    }

    
    #h1 {
      display: flex;
      justify-content: center;
      padding-top: 5%;
      padding-bottom: 3%;
    }
    
    //Labels row
    .labels {
      margin: 1%;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
      font-weight: 100;
  
      border-top: 1px solid grey;
      padding-top: 1%;
  
      display: grid;
      gap: 1em;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
  
      padding-bottom: 1%;
      border-bottom: 1px solid grey;
    }
  
    //Product rows
    .product-item {
      margin: 1%;
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 1em;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      padding: 1%;
      border-bottom: 1px solid rgb(206, 206, 206);
  
      //Product title
      .product-title {
        font-size: 1em;
        padding-left: 0px;
      }
  
      //Product image
      .product-image {
        width: 30%;
      }
  
      .quantity-container {
        display: flex;
        flex-direction: row;
        gap: 10%;
        align-items: center;
  
        .clickable {
          border: none;
          border-radius: 50px;
          transition-duration: 0.4s;
        }
        .clickable:hover {
          background-color: lightgrey;
          cursor: pointer;
        }
      }
    }
  
    //Total sum
    #min-varukorg {
      position: relative;
    }
    #totalSum {
      position: absolute;
      right: 5%;
    }
  }

  //Betalning
  .container-payment {
    display: flex;
    flex-direction: column;
    align-items: center;

    .payment-box {
      padding: 3%;
      background-color: #eeeeee;
      display: flex;
      flex-direction: column;
      margin: 3%;
      margin-top: 13%;

      h2 {
        padding: 10px 10px;
        font-size: 1.9em;
        text-align: center;
      }

      h3 {
        padding-left: 18px;
      }

      .container-input{
        margin-left: 10px;

        p {
          font-size: 1em;
          text-transform: none;
        }

        form label {
          color: #5a5a5a;
          position: relative;
          font-size: 1em;
          word-spacing: 2px;
          width: 80%;
          margin-left: 20px;
          justify-content: center;
        }

        #card_name , #cardnr {
          border: none;
          border-bottom: 1px solid white;
          outline: none;
          width: 80%;
          padding-top: 15px;
          margin-bottom: 50px;
          background-color: transparent;
        }

        .float {
          display: flex;
          width: 80%;

          #validtill , #cvv {
            border: none;
            border-bottom: 1px solid white;
            outline: none;
            width: 130px;
            padding-top: 15px;
            margin-bottom: 50px;
            background-color: transparent;
          }
        }

        .container_btn_betala {
          display: flex;
          justify-content: center;

          #btn-betala {
            width: 70%;
            border: none;
            background-color: #cccccc;
            margin: 10px;

            #btn-text {
              text-decoration: none;
              color: black;
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
  
  //Footer
  .footer-container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    
    position: absolute;
    width: 100%;
    background-color: rgb(96, 144, 96);

    .footer-text {
      margin-top: 1.5%;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      line-height: normal;
    }
  }
}

/*-------------------------------------- Desktop ------------------------------------*/

@media screen and (min-width: 1000px) {
  
  //Buttons container
  #btn-container {
    padding-bottom: 1% !important;
  }

  //Product title
  .product-title {
    font-size: 1.2em;
  }

  //Product image
  .product-image {
    width: 60%;
  }

  //Betalning
  .container-payment {
    display: flex;
    flex-direction: column;
    align-items: center;

    .payment-box {
      // height: 80%;
      width: 50%;
      align-items: center;
      position: relative;
      margin-top: 4%;
    }
  }

  //Footer
  .footer-container {
    display: flex;
    flex-direction: row;

    .footer-text {
      display: flex;
      flex-direction: row;
      font-size: 0.9rem;
    }
  }
}
