body {
  margin: 0;
  

  #h1 {
    display: flex;
    justify-content: center;
  }

  //Labels row
  .labels {
    margin: 1%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    font-weight: 100;

    border-top: 1px solid grey;
    padding-top: 1%;

    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    padding-bottom: 1%;
    border-bottom: 1px solid grey;
  }

  //Total sum
  #totalSum {
    float: right;
    margin-right: 20px;
  }

  //Product rows
  .product-item {
    margin: 1%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 1%;
    border-bottom: 1px solid rgb(206, 206, 206);

    //Product title
    .product-title {
      font-size: 1em;
    }

    //Product image
    .product-image {
      width: 30%;
    }

    .quantity-container {
      display: flex;
      flex-direction: row;
      gap: 10%;
      align-items: center;

      .clickable {
        border: none;
        border-radius: 50px;
        transition-duration: 0.4s;
      }
      .clickable:hover {
        background-color: lightgrey;
        cursor: pointer;
      }
    }
 
    //FÅR INTE ATT FUNKA ?!
    // .btn-light {
    //   display: flex;
    //   justify-content: flex-end;
    // }
    // #btn-go-back-to-shoppingcart:link {
    //   text-decoration: none;
    //  }
  }

  //Betalning

  .container-payment {
   
    height: 80vh;
    background-color: #eeeeee;
    margin: 40px 20px;
    
  
  }

  h2 {
    padding: 10px 10px;
    font-size: 30px;
  }
  h3 {
    padding: 20px 10px;
  }
  form label {
    color: #5a5a5a;
    position: relative;
    font-size: 1em;
    word-spacing: 2px;
    width: 80%;
    margin-left: 20px;
    justify-content: center;
    
  }

  form #card_name , form #cardnr {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    text-transform: capitalize;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1em;
    margin: 15px;
    background-color: transparent;
   
  }

  .float {
    display: flex;
    width: 80%;
  
  }

  #validtill , #cvv {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 130px;
    padding-top: 15px;
    margin-bottom: 50px;
    background-color: transparent;
  }


  p {
    font-size: 1em;
    text-transform: none;
  }

  #btn-betala {
    border: none;
    background-color: #cccccc;
    outline: none;
    text-align: center;
    width: 80%;
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;
  }
  #btn-text {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
  }
  

  
  
  //Footer
  .footer-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    margin-top: 3%;

    position: absolute;
    width: 100%;
    background-color: rgb(96, 144, 96);

    .footer-text {
      margin-top: 1.5%;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      line-height: normal;
    }
  }
}

/*-------------------------------------- Desktop ------------------------------------*/
@media screen and (min-width: 1000px) {
  //Product title
  .product-title {
    font-size: 1.2em;
  }

  //Product image
  .product-image {
    width: 60%;
  }

  .footer-container {
    display: flex;
    flex-direction: row;

    .footer-text {
      display: flex;
      flex-direction: row;
      font-size: 0.9rem;
    }
  }
  //Betalning
  .container-payment {
    height: 80vh;
    width: 60vh;
    background-color: #ededed;
    
  
  }

}
