body{ 
  margin: 0; 
}
//header and contact text
//header and welcome text

#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

  #contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;  
    border: 1px solid rgb(209, 209, 209);
    padding: 1%;
    
    #contact-text {
    width: 80%;
    font-size: larger;
    
    }

    #contact-nr, #contact-email {
      font-weight: bold;
      font-size: large;
    }

    .links {
      color: rgb(7, 117, 7);
      padding-left: 7px;
      padding-right: 7px;
      background-color: rgb(235, 245, 233);
      border-radius: 15px;
      margin-left: 3px;
      margin-right: 3px;
  
      &:hover {
        cursor: pointer;
        color: rgb(128, 218, 128);
      }
      &:link {
        text-decoration: none;
      }
    }
  }
}


//Footer 
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: pink;
}