/*-------------------------------------- Mobile first ------------------------------------*/

body {
  margin: 0;

  //header and welcome text

  #h1 {
    padding-top: 5%;
    padding-bottom: 3%;
  }

  #h1, #welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  //image
  #welcome-image {
    display: flex;
    justify-content: center;
    img {
      width: 80%;
      padding-bottom: 3%;
    }
  }

  #produkter {  
    color: green;
    padding-left: 7px;
    padding-right: 7px;
    background-color: rgb(240, 255, 236);
    border-radius: 15px;
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
      cursor: pointer;
      color: rgb(1, 210, 1);
    }
    &:link {
      text-decoration: none;
    }

    animation: blink-animation 1s steps (5, start) ease;
    -webkit-animation: blink-animation 2.2s steps(5, start) infinite;
    @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
  } 

  //Footer
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    position: fixed;
    width: 100%;
    background-color: rgb(96, 144, 96);
    bottom: 0%;
    
    .footer-text {
      margin-top: 1.5%;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      line-height: normal;
    }
  }
}

/*-------------------------------------- Desktop ------------------------------------*/

@media screen and (min-width: 1000px) {
  
  //header and welcome text
  body #welcome-text {
    display: flex;
    flex-direction: row;
  }

  //image
  #welcome-image img {
    width: 60% !important;
    padding-bottom: 10%;
  }

  //footer
  .footer-container {
    display: flex;
    flex-direction: row;

    .footer-text {
      display: flex;
      flex-direction: row;
      font-size: 0.9rem;

    }
  }  
}