body {
  margin: 0;

  //header and welcome text
  #h1, #welcome-text {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  //image
  #welcome-image {
    display: flex;
    justify-content: center;
    img {
      width: 60%;
      padding-bottom: 3%;
    }
  }

  //Footer
  .footer-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    margin-top: 3%;

    position: absolute;
    width: 100%;
    background-color: pink;


    .footer-text {
      margin-top: 1.5%;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      line-height: normal;
    }
  }
}


/*-------------------------------------- Desktop ------------------------------------*/
@media screen and (min-width: 1000px) {
  //image
  #welcome-image img {
    padding-bottom: 10%;
  }

  //footer
  .footer-container {
    display: flex;
    flex-direction: row;

    .footer-text {
      display: flex;
      flex-direction: row;
      font-size: 0.9rem;

    }
  }  
}