body {
  margin: 0;

  .product-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      margin-top: 20px;
    }

    .detail-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    .price-btn-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .add-to-cart-btn {
        &:hover {
          background-color: lightgray;
        }
      }
    }
  }
}

//Footer
.footer-container {
  text-align: center;
  position: absolute;
  margin-top: 20px;
  width: 100%;
  height: 30px;
  background-color: pink;
}
