/*-------------------------------------- Mobile first ------------------------------------*/

body {
  margin: 0;

  article {
    margin-bottom: 12%;

    #h1 {
      padding-top: 5%;
      padding-bottom: 3%;
      display: flex;
      justify-content: center;
    }

    //Button (Go to shoppingcart)
    #btn-container {
      position: relative;
      padding: 1%;
      margin-top: 3%;

      #btn-go-to-shoppingcart {
        position: absolute;
        right: 1%;
        background-color: rgb(235, 245, 233);
        :link {
          text-decoration: none;
        }
        a {
          color: rgb(96, 144, 96);

          &:active {
            color: rgb(235, 245, 233);
          }
        }
        &:hover {
          background-color: rgb(157, 191, 157);
        }
      }
    }

    //Filter Buttons
    .buttons {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .button-value {
      background: none;
      cursor: pointer;
      border: none;
      text-transform: uppercase;
      display: inline-block;
      margin: 10px;
      font-size: 16px;
      color: #d3d3d3;
      font-weight: 600;
      letter-spacing: 1px;
      position: relative;
    }
    .button-value:after {
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0;
      background-color: #555;
      transition: all 0.2 ease-in-out;
    }

    //Products
    .product-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      .description-pTag {
        width: 60vw;
        text-align: center;
      }

      .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin-top: 20px;
      }

      .detail-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }

      .price-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .add-to-cart-btn {
          &:hover {
            background-color: rgb(157, 191, 157);
          }
          color: rgb(96, 144, 96);
          border-radius: 5%;
          border: none;
          background-color: rgb(235, 245, 233);
          padding: 5px;

          &:active {
            color: rgb(235, 245, 233);
          }
        }
      }
    }
  }
}

//Footer
.footer-container {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  position: absolute;
  width: 100%;
  background-color: rgb(96, 144, 96);

  .footer-text {
    margin-top: 1.5%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    line-height: normal;
  }
}

/*-------------------------------------- Desktop ------------------------------------*/

@media screen and (min-width: 1000px) {

  article {

    margin-bottom: 2% !important;
    
    //Products
    .product-container {
      display: flex;
      flex-direction: row !important;
      align-items: baseline;
      justify-content: space-around;
      flex-wrap: wrap;
  
      .description-pTag {
        width: auto !important;
      }
      
      .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-top: 20px;
  
        .price-btn-container {
          flex-direction: row;
        }
      }
    }

    //Button (Go to shoppingcart)
    #btn-container {
      margin-top: 1% !important;
    }
  }

  //Footer
  .footer-container {
    display: flex;
    flex-direction: row;

    .footer-text {
      display: flex;
      flex-direction: row;
    }
  }
}
