/*-------------------------------------- Mobile first ------------------------------------*/

body {
  margin: 0;

  #h1 {
    display: flex;
    justify-content: center;
  }

  //Labels row
  .labels {
    margin: 1%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    font-weight: 100;

    border-top: 1px solid grey;
    padding-top: 1%;

    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    padding-bottom: 1%;
    border-bottom: 1px solid grey;
  }

  //Product rows
  .product-item {
    margin: 1%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 1%;
    border-bottom: 1px solid rgb(206, 206, 206);

    //Product title
    .product-title {
      font-size: 1em;
    }

    //Product image
    .product-image {
      width: 30%;
    }

    //Quantity
    .quantity-container {
      display: flex;
      flex-direction: row;
      gap: 10%;
      align-items: center;

      .clickable {
        border: none;
        border-radius: 50px;
        transition-duration: 0.4s;
      }
      .clickable:hover {
        background-color: lightgrey;
        cursor: pointer;
      }
    }

    //FÅR INTE ATT FUNKA ?!
    // .btn-light {
    //   display: flex;
    //   justify-content: flex-end;
    // }
    // #btn-go-to-checkout:link {
    //   text-decoration: none;
    //  }
  }

  //Total sum
  #min-varukorg {
    position: relative;
  }
  #totalSum {
    position: absolute;
    right: 5%;
  }

  //Footer
  .footer-container {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    position: absolute;
    width: 100%;
    background-color: rgb(96, 144, 96);
    bottom: 0;

    .footer-text {
      margin-top: 1.5%;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      font-size: 0.8rem;
      text-align: center;
      line-height: normal;
    }
  }
}

/*-------------------------------------- Desktop ------------------------------------*/

@media screen and (min-width: 1000px) {
  //Product title
  .product-title {
    font-size: 1.2em;
  }

  //Product image
  .product-image {
    width: 60%;
  }

  .footer-container {
    display: flex;
    flex-direction: row;

    .footer-text {
      display: flex;
      flex-direction: row;
      font-size: 0.9rem;
    }
  }
}
