/*-------------------------------------- Mobile first ------------------------------------*/
body{ 
  margin: 0; 

  #h1 {
    display: flex;
    justify-content: center;
  }
 
  //Labels row
  .labels {
    margin: 1%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;

    border-top: 1px solid grey;
    padding-top: 1%;

    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    padding-bottom: 1%;
    border-bottom: 1px solid grey;
  }

    //Product description
    .product-description-label {
      display: none; 
    }

  //Product rows
  .product-item {
    margin: 1%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 1%;
    border-bottom: 1px solid rgb(206, 206, 206);

    //Product title
    .product-title {
      font-size: 1em;
    }

    //Product description
    .product-description {
      display: none; 
    }

    //Product image
    .product-image {
      width: 30%;
    }

    .quantity-container {
      display: flex;
      flex-direction: row;
      gap: 10%;      
      align-items: center;

      .clickable {
        border: none;
        border-radius: 50px;
        transition-duration: 0.4s;
      }
      .clickable:hover {
        background-color: lightgrey;
        cursor: pointer;
      }

      //FÅR INTE ATT FUNKA ?!
      // .product-quantity {
      //   vertical-align: middle;      
      // }
    }
  
  //FÅR INTE ATT FUNKA ?!
  // .btn-light {
  //   display: flex;
  //   justify-content: flex-end;
  // }
  // #btn-go-to-checkout:link {
  //   text-decoration: none;
  //  }
  }


  //Footer 
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    position: absolute;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background-color: pink;
  }
}

/*-------------------------------------- Desktop ------------------------------------*/
@media screen and (min-width: 1000px) {
  //Product title
  .product-title {
    font-size: 1.2em;
  }

  //Product description
  .product-description {
    display: block; //OBS! VARFÖR syns inte? !
    font-size: 0.9em;
  }
  .product-description-label {
    display: block; //OBS! VARFÖR syns inte? !
    font-size: 1rem;
  }

  //Product image
  .product-image {
    width: 60%;
  }
}